.productDetails {
  height: 500px;
}
.productDetails .container img {
  width: 500px;
  height: 400px;
}
.productDetails .container .productRating {
  color: #ffc300;
  font-size: 15px;
}
.productDetails .container .productRating span {
  padding-right: 4px;
}
.productDetails .container .shortDescription {
  font-size: 14px;
}
.productDetails .container input {
  width: 80px;
  border: 2px solid #000;
  border-radius: 5px;
}
.productDetails .container button {
  padding: 8px 15px 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #000066;
  color: #fff;
  font-size: 14px;
}
.productDetails .container button:focus {
  outline: none;
}
.tab h6 {
  cursor: pointer;
}
.tabContent p {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
.activeTab {
  color: #000;
  font-weight: bold;
}
.reviewSection .productReview span {
  color: red;
}
.related_products .container {
  width: 900px;
}
.related_products .container .card {
  border: none;
}
.related_products h4 {
  margin-left: 10%;
}
.related_products .container img {
  width: 250px;
  height: 200px;
  padding: 12px;
  margin: auto;
  margin-top: 15px;
}
.related_products .container .card-title {
  font-size: 15px;
}
.related_products .container .productRating {
  color: #ffc300;
  font-size: 15px;
}
.related_products .wishIcon {
  position: absolute;
  right: 8%;
  top: 3%;
  transition: 0.5s ease;
  opacity: 0;
}
.related_products .container .card :hover .wishIcon {
  opacity: 1;
}
.related_products .container .productPrice {
  font-weight: 600;
}
.related_products .container .addIcon {
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #f8f8f8;
  transition: 0.5s ease;
}
.related_products .container .addIcon:hover {
  background-color: #000066;
  color: #fff;
  border: transparent;
  font-weight: bold;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .productDetails .container img {
    width: 300px;
    height: 300px;
    margin-top: 50px;
  }
  .related_products .container img {
    width: 200px;
    height: 200px;
    margin-top: 5px;
  }
  .related_products .container {
    width: 650px;
  }
  .related_products .container .card-title {
    font-size: 12px;
  }
  .related_products .container .productRating {
    font-size: 12px;
  }
  .related_products .container .productPrice {
    font-size: 12px;
  }
}
@media screen and (max-width: 320px) {
  .productDetails {
    width: 900px;
    height: auto;
  }
  .productDetails .container img {
    width: 500px;
    height: 400px;
    margin-left: 20%;
    margin-top: 2px;
  }
  .productDetails .container .product-name {
    text-align: center;
  }
  .productDetails .container .product-rating {
    justify-content: center;
  }
  .productDetails .container .price-category {
    justify-content: center;
  }
  .productDetails .container .shortDescription {
    width: 350px;
    margin-left: 32%;
  }
  .productDetails .container input {
    margin-left: 46%;
  }
  .productDetails .container button {
    margin-left: 45%;
  }
  .review-description {
    width: 900px;
    padding-top: 30px;
  }
  .tab {
    justify-content: center;
  }
  .review-description {
    padding-left: 10%;
    padding-right: 10%;
  }
  .review-description .container .reviewSection {
    padding-left: 45%;
  }
  .related_products {
    width: 900px;
  }
  .related_products h4 {
    text-align: center;
  }
  .related_products .container {
    width: 600px;
  }
  .related_products .container img {
    width: 400px;
    height: 300px;
    margin-left: 15%;
  }
  .related_products .container .card-title {
    font-size: 20px;
  }
  .related_products .container .card-title,
  .productRating,
  .productPrice {
    padding: 5px;
  }
}
