/*------Image Slider Start-------*/
.Slider {
  background-color: #f8f8f8;
  height: 430px;
}
.sliderImage {
  height: 250px !important;
  width: 250px !important;
  margin-top: 100px !important;
  margin-right: 250px;
}

.sliderTitle {
  color: black;
  font-size: 35px;
  text-align: start;
  display: -webkit-box;
  line-height: 40px;
  max-height: 100px;
  padding: 4px 10px;
  max-width: 400px;
  -webkit-line-clamp: 3;
}
.sliderDescription {
  color: black;
  text-align: start;
  display: -webkit-box;
  line-height: 30px;
  max-height: 100px;
  padding: 4px 10px;
  max-width: 650px;
  -webkit-line-clamp: 3;
}
/*------Image Slider End-------*/

/*-----------Service Start-----------*/
.service-section {
  margin-top: 60px;
  background-color: #fff;
}
.service-section .container .card {
  border-radius: 0px !important;
  border: none !important;
  height: auto !important;
}
.service-icon {
  background-color: #fff;
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 50%;
  line-height: 15px;
  margin: auto;
  margin-top: 35px;
}
.service-section .container .card-subtitle {
  word-spacing: 2px;
  font-size: 15px;
}
/*-----------Service End-----------*/

/*--Discount Product Section Start--*/
.discountSection {
  background-color: #f8f8f8;
  margin-top: 60px;
}
.discountSection .container {
  width: 900px;
}
.discountSection .container .card {
  border: none;
  height: auto;
}
.discountSection .container img {
  width: 250px;
  height: 200px;
  padding: 12px;
  margin: auto;
  margin-top: 15px;
}
.discountSection .container .card-title {
  font-size: 15px;
}
.discountSection .container .productRating {
  color: #ffc300;
  font-size: 15px;
}
.discountSection .container .productDiscount {
  position: absolute;
  top: 3%;
  background-color: #000066;
  color: #fff;
  font-size: 10px;
  border-radius: 15px;
  padding: 3px 10px 3px 10px;
}
.discountSection .container .wishIcon {
  position: absolute;
  right: 8%;
  top: 3%;
  transition: 0.5s ease;
  opacity: 0;
}
.discountSection .container .card :hover .wishIcon {
  opacity: 1;
}
.discountSection .container .productPrice {
  font-weight: 600;
}
.discountSection .container .addIcon {
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #f8f8f8;
  transition: 0.5s ease;
}
.discountSection .container .addIcon:hover {
  background-color: #000066 !important;
  color: #fff;
  border: transparent;
  font-weight: bold;
  cursor: pointer;
}
/*--Discount Product Section End--*/
