/*------Image Slider Start-------*/

.Slider {
  background-color: #f8f8f8;
  height: 430px;
}
.sliderImage {
  height: 250px !important;
  width: 250px !important;
  margin-top: 100px !important;
  margin-right: 250px;
}

.sliderTitle {
  color: black;
  font-size: 35px;
  text-align: start;
  line-height: 40px;
  padding: 4px 10px;
  max-width: 400px;
}
.sliderDescription {
  color: black;
  text-align: start;
  line-height: 30px;
  padding: 4px 10px;
  max-width: 650px;
}
.sliderBtn {
  margin-left: 11%;
  border: none;
  font-size: 12px;
  padding: 2px 5px 2px 5px;
}
.sliderBtn:focus {
  outline: none;
}
@media screen and (max-width: 768px) {
  .Slider {
    height: 350px;
  }
  .sliderImage {
    margin-top: 50px !important;
    margin-right: 50px;
  }
  .sliderCaption {
    top: 20% !important;
  }
  .sliderTitle {
    font-size: 30px;
    max-width: 300px;
  }
  .sliderDescription {
    font-size: 14px;
    max-width: 400px;
  }
  .sliderBtn {
    margin-bottom: 20%;
  }
}
@media screen and (max-width: 320px) {
  .Slider {
    height: auto;
    width: 900px;
  }
  .sliderImage {
    margin-top: 50px !important;
  }
  .sliderCaption {
    top: 20% !important;
  }
  .sliderTitle {
    font-size: 30px;
    max-width: 300px;
  }
  .sliderDescription {
    font-size: 15px;
    max-width: 400px;
  }
  .sliderBtn {
    margin-bottom: 5%;
  }
}
/*------Image Slider End-------*/

/*-----------Service Start-----------*/
.service-section {
  margin-top: 60px;
  background-color: #fff;
}
.service-section .container .card {
  border-radius: 0px !important;
  border: none !important;
  height: auto !important;
}
.service-icon {
  background-color: #fff;
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 50%;
  line-height: 15px;
  margin: auto;
  margin-top: 35px;
}
.service-section .container .card-subtitle {
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .service-section .container .card-title {
    font-size: 15px;
  }
  .service-section .container .card-subtitle {
    font-size: 12px;
  }
}
@media screen and (max-width: 320px) {
  .service-section .container {
    width: 800px;
  }
  .service-section .container .card {
    margin-left: 15%;
    margin-top: 10px;
  }

  .service-section .container .card-subtitle {
    word-spacing: 2px;
    font-size: 12px;
  }
}
/*-----------Service End-----------*/

/*--Discount Product Section Start--*/
.discountSection {
  background-color: #f8f8f8;
  margin-top: 60px;
}
.discountSection .container {
  width: 900px;
}
.discountSection .container .card {
  border: none;
}
.discountSection .container img {
  width: 250px;
  height: 200px;
  padding: 12px;
  margin: auto;
  margin-top: 15px;
}
.discountSection .container .card-title {
  font-size: 15px;
}
.discountSection .container .productRating {
  color: #ffc300;
  font-size: 15px;
}
.discountSection .container .productDiscount {
  position: absolute;
  top: 3%;
  background-color: #000066;
  color: #fff;
  font-size: 10px;
  border-radius: 15px;
  padding: 3px 10px 3px 10px;
}
.discountSection .container .wishIcon {
  position: absolute;
  right: 8%;
  top: 3%;
  transition: 0.5s ease;
  opacity: 0;
}
.discountSection .container .card :hover .wishIcon {
  opacity: 1;
}
.discountSection .container .productPrice {
  font-weight: 600;
}
.discountSection .container .addIcon {
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #f8f8f8;
  transition: 0.5s ease;
}
.discountSection .container .addIcon:hover {
  background-color: #000066;
  color: #fff;
  border: transparent;
  font-weight: bold;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .discountSection .container img {
    width: 200px;
    height: 200px;
  }
  .discountSection .container {
    width: 650px;
  }
}
@media screen and (max-width: 320px) {
  .discountSection .container img {
    width: 400px;
    height: 300px;
    margin-left: 40px;
  }
  .discountSection .container .card {
    width: 500px;
    margin: auto;
  }
  .discountSection {
    width: 900px;
  }
}
/*--Discount Product Section End--*/

/*---New Arrival Section Start---*/
.newArrivalSection {
  background-color: #fff;
}
.newArrivalSection .container {
  width: 900px;
}
.newArrivalSection .container .card {
  border: none;
}
.newArrivalSection .container img {
  width: 250px;
  height: 200px;
  padding: 12px;
  margin: auto;
  margin-top: 15px;
}
.newArrivalSection .container .card-title {
  font-size: 15px;
}
.newArrivalSection .container .productRating {
  color: #ffc300;
  font-size: 15px;
}
.newArrivalSection .wishIcon {
  position: absolute;
  right: 8%;
  top: 3%;
  transition: 0.5s ease;
  opacity: 0;
}
.newArrivalSection .container .card :hover .wishIcon {
  opacity: 1;
}
.newArrivalSection .container .productPrice {
  font-weight: 600;
}
.newArrivalSection .container .addIcon {
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #f8f8f8;
  transition: 0.5s ease;
}
.newArrivalSection .container .addIcon:hover {
  background-color: #000066;
  color: #fff;
  border: transparent;
  font-weight: bold;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .newArrivalSection .container img {
    width: 200px;
    height: 200px;
  }
  .newArrivalSection .container {
    width: 650px;
  }
}
@media screen and (max-width: 320px) {
  .newArrivalSection .container img {
    width: 400px;
    height: 300px;
    margin-left: 40px;
  }
  .newArrivalSection .container .card {
    width: 500px;
    margin: auto;
  }
  .newArrivalSection {
    width: 900px;
  }
}
/*---New Arrival Section End----*/

/*---Best Sales Section Start---*/
.bestSalesSection {
  background-color: #f8f8f8;
}
.bestSalesSection .container {
  width: 900px;
}
.bestSalesSection .container .card {
  border: none;
}
.bestSalesSection .container img {
  width: 250px;
  height: 200px;
  padding: 12px;
  margin: auto;
  margin-top: 15px;
}
.bestSalesSection .container .card-title {
  font-size: 15px;
}
.bestSalesSection .container .productRating {
  color: #ffc300;
  font-size: 15px;
}
.bestSalesSection .wishIcon {
  position: absolute;
  right: 8%;
  top: 3%;
  transition: 0.5s ease;
  opacity: 0;
}
.bestSalesSection .container .card :hover .wishIcon {
  opacity: 1;
}
.bestSalesSection .container .productPrice {
  font-weight: 600;
}
.bestSalesSection .container .addIcon {
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #f8f8f8;
  transition: 0.5s ease;
}
.bestSalesSection .container .addIcon:hover {
  background-color: #000066;
  color: #fff;
  border: transparent;
  font-weight: bold;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .bestSalesSection .container img {
    width: 200px;
    height: 200px;
  }
  .bestSalesSection .container {
    width: 650px;
  }
}
@media screen and (max-width: 320px) {
  .bestSalesSection .container img {
    width: 400px;
    height: 300px;
    margin-left: 40px;
  }
  .bestSalesSection .container .card {
    width: 500px;
    margin: auto;
  }
  .bestSalesSection {
    width: 900px;
  }
}
/*---Best Sales Section End---*/
